*{
	box-sizing: border-box;
}
body
{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin: 0;
}

a{
	text-decoration: none;
}
header
{
	background: #43521C;
	display: flex;
	align-items: center;
	padding: 15px 0;
}
header a
{
	color: #fff;
}
header ul
{
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

#logo{
	margin: 0 auto;
	font-size: 30px;
}

#menu li
{
	padding: 10px;
}

#social-links li
{
	padding: 10px;
}

#main
{
	display: flex;
}

aside{
	padding: 10px;
	flex: 0 0 20vw;
	background: #F6F4DF;
}

aside ul
{
	list-style: none;
	padding: 0;
}

aside ul a
{
	color: #43521C;
	padding: 10px;
	display: block;
	border-bottom: 1px solid gray;
}

aside img
{
	width: 100%; 
}

article
{
	padding: 10px;
}

.services-container
{
	display: flex;
	justify-content: space-between;
}

.seervice-box
{
	border: 1px solid #eee;
	padding: 10px;
	flex-basis: 32%;
	max-width: 370px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.seervice-box img
{
	width: 100%;
}

.call-to-action
{
	align-self: flex-start;
	margin-top: auto;
}

.call-to-action a
{
	background: gray;
	color: #fff;
	padding: 8px 13px; 
	display: block; 
	border: 2px solid transparent;
}

.call-to-action a:hover
{
	background: #eee;
	color: #000;
}

footer
{
	background: #43521C;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}